In [2]:
# Cell 1: Imports
import pandas as pd
import numpy as np

# Optional: if you want to see wide dataframes
pd.set_option('display.max_columns', None)

In [5]:

# Cell 2: Load the Raw Data & Quick Check

# 1. Load Data
df = pd.read_csv("../data/raw/athlete_events.csv")

# 2. Print shape
print("DataFrame shape:", df.shape)

# 3. Display first 10 rows
df.head(10)

DataFrame shape: (271116, 15)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

In [7]:
# Cell 3: Examine Missing Values

# Calculate missing values per column
missing_counts = df.isnull().sum()

print("Missing Values per Column (Before Cleaning):")
print(missing_counts)

Missing Values per Column (Before Cleaning):
ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [8]:
# Cell 4: Clean the Medal Column

# Replace NaN values in the 'Medal' column with "No Medal"
df['Medal'] = df['Medal'].fillna("No Medal")

# Confirm that the 'Medal' column no longer has missing values
print("Missing Values per Column (After cleaning Medal):")
print(df.isnull().sum())

Missing Values per Column (After cleaning Medal):
ID            0
Name          0
Sex           0
Age        9474
Height    60171
Weight    62875
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal         0
dtype: int64

In [11]:
# Cell 5A: Drop rows with missing Age, Height, or Weight
df_clean = df.dropna(subset=['Age', 'Height', 'Weight'])

print("Shape after dropping rows with missing Age, Height, or Weight:", df_clean.shape)
print("Missing Values After Dropping:")
print(df_clean.isnull().sum())

Shape after dropping rows with missing Age, Height, or Weight: (270521, 15)
Missing Values After Dropping:
ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [12]:
# Check for duplicate rows
duplicate_rows = df_clean.duplicated().sum()
print("Number of duplicate rows:", duplicate_rows)

Number of duplicate rows: 1241

In [13]:
# Display unique team values (or a sample) to inspect for inconsistencies:
print(df_clean['Team'].unique())

['China' 'Denmark' 'Denmark/Sweden' ... 'Solos Carex' 'Dow Jones' 'Digby']

In [14]:
# Calculate BMI: Weight in kg / (Height in meters)^2 (convert height from cm to m)
df_clean['Height_m'] = df_clean['Height'] / 100
df_clean['BMI'] = df_clean['Weight'] / (df_clean['Height_m'] ** 2)

# Preview new columns
df_clean[['Height', 'Weight', 'Height_m', 'BMI']].head(10)

/var/folders/qp/kmdxqh_968x5qdvvl2k5kxdc0000gn/T/ipykernel_10972/1286881239.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Height_m'] = df_clean['Height'] / 100
/var/folders/qp/kmdxqh_968x5qdvvl2k5kxdc0000gn/T/ipykernel_10972/1286881239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['BMI'] = df_clean['Weight'] / (df_clean['Height_m'] ** 2)

   Height  Weight  Height_m        BMI
0   180.0    80.0      1.80  24.691358
1   170.0    60.0      1.70  20.761246
2   178.0    73.0      1.78  23.040020
3   182.0    95.0      1.82  28.680111
4   185.0    82.0      1.85  23.959094
5   185.0    82.0      1.85  23.959094
6   185.0    82.0      1.85  23.959094
7   185.0    82.0      1.85  23.959094
8   185.0    82.0      1.85  23.959094
9   185.0    82.0      1.85  23.959094

In [15]:
# Ensure df_clean is the DataFrame you want to modify
# If df_clean is already a slice, make an explicit copy:
df_clean = df_clean.copy()

# Using .loc to create new columns safely
df_clean.loc[:, 'Height_m'] = df_clean['Height'] / 100
df_clean.loc[:, 'BMI'] = df_clean['Weight'] / (df_clean['Height_m'] ** 2)

# Display the derived columns to verify
display(df_clean[['Height', 'Weight', 'Height_m', 'BMI']].head(10))

   Height  Weight  Height_m        BMI
0   180.0    80.0      1.80  24.691358
1   170.0    60.0      1.70  20.761246
2   178.0    73.0      1.78  23.040020
3   182.0    95.0      1.82  28.680111
4   185.0    82.0      1.85  23.959094
5   185.0    82.0      1.85  23.959094
6   185.0    82.0      1.85  23.959094
7   185.0    82.0      1.85  23.959094
8   185.0    82.0      1.85  23.959094
9   185.0    82.0      1.85  23.959094

In [16]:
# Check for duplicate rows
duplicates = df_clean.duplicated().sum()
print("Number of duplicate rows:", duplicates)

Number of duplicate rows: 1241

In [17]:
# Cell 6: Final Check & Save the Cleaned Data

# Final shape and preview of cleaned data
print("Final shape after cleaning:", df_clean.shape)
display(df_clean.head(10))

# Save the cleaned DataFrame to the 'processed' folder
df_clean.to_csv("../data/processed/athlete_events_clean.csv", index=False)
print("Cleaned dataset saved to ../data/processed/athlete_events_clean.csv")

Final shape after cleaning: (270521, 17)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Height_m,BMI
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No Medal,1.80,24.691358
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No Medal,1.70,20.761246
2,3,Gunnar Nielsen Aaby,M,24.0,178.0,73.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,No Medal,1.78,23.040020
3,4,Edgar Lindenau Aabye,M,34.0,182.0,95.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1.82,28.680111
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,No Medal,1.85,23.959094
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",No Medal,1.85,23.959094
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,No Medal,1.85,23.959094
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",No Medal,1.85,23.959094
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,No Medal,1.85,23.959094
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",No Medal,1.85,23.959094

Cleaned dataset saved to ../data/processed/athlete_events_clean.csv